.profile__avatar-edit-button {
    background: none;
    border: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url(../../../images/edit-avatar.svg);
    transition: opacity 0.3s ease-in-out;
}

.profile__avatar-edit-button:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}


