.profile {
    border: 1px solid red;
    max-width: 880px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

@media screen and (max-width: 320px) {
    .profile {
        max-width: 282px;
        margin-top: 42px;
        flex-direction: column;
        gap: 36px;
    }
}