.add-button {
    width: 150px;
    height: 50px;
    justify-self: end;
    border: none;
    background: none;
    background-image: url(../../images/Add\ Button.svg);
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .add-button {
        width: 282px;
        background-image: url(../../images/Add\ Button320.png);
    }
}