.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    max-width: 880px;
    margin: auto;
    margin-top: 51px;
    margin-bottom: 66px;
}

@media screen and (max-width: 320px) {
    .elements {
        margin-top: 36px;
        width: 282px;
        margin-top: 36px;
        margin-bottom: 48px;
        grid-template-columns: 100%;
    }
}
