.heart-icon {
    background: none;
    background-image: url(../../images/heart-icon.svg);
    width: 22px;
    height: 19px;
    border: none;
    margin-right: 15px;
    transition: opacity 2s linear;
    cursor: pointer;
}

.heart-icon:hover {
    opacity: 0.5;
}