.profile__info {
    border:1px solid green;
    width: 336px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

@media screen and (max-width: 320px) {
    .profile__info {
        max-width: 282px;
    }
}