.close-button {
    background: none;
    border: none;
    background-image: url(../../images/Close\ Icon.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity 2s linear;
}

.close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .close-button {
        width: 20px;
        height: 20px; 
        right: 0px; 
        background-size: contain;
    }
}